<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/registro.css">
</head>
<body>

<form th:action="@{/registro}" th:object="${usuario}" method="post">
    <h1>Registro</h1>

    <div class="input-box">
        <input type="text" th:field="*{nombre}" placeholder="Nombre" id="nombre" />
        <i class="fa fa-user"></i>
    </div>

    <div class="input-box">
        <input type="email" th:field="*{email}" placeholder="Email" id="email" />
        <i class="fa fa-envelope"></i>
    </div>

    <div class="input-box">
        <input type="password" th:field="*{contraseña}" placeholder="Contraseña" id="contraseña" />
        <i class="fa fa-lock"></i>
    </div>

    <button type="submit" class="btn">Registrarse</button>

    <p th:if="${exito}">✅ Registro exitoso.</p>
</form>



</p>
</body>
</html>
